/* CSS for Calculator */

/* Reset CSS to normalize across browsers */
@import url(reset.css);

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

header {
  padding-top: 50px;
  font-size: 50rem;
}

.calculator {
  border: black solid 1px;
  border-radius: 10px;
  background-color: lightslategray;
  padding: 20px;
  box-shadow: 5px 5px 5px gray;
}

.screen {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 120px;
  background-color: rgb(201, 201, 180);
  border: black solid 1px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: 'Teko', sans-serif;
}

#lastScreen {
  font-size: 20rem;
  padding: 10px;
}

#currentScreen {
  font-size: 30rem;
  text-align: right;
  padding: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.span2 {
  grid-column: span 2;
}

button {
  padding: 10px;
  font-size: 20rem;
  border-radius: 5px;
  background-color: lightgray;
}

footer {
  padding: 10px;
}

footer img:hover {
  transform: rotate(360deg);
  transition: 1s;
}
